<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.push.workflow.update.packal</string>
	<key>connections</key>
	<dict/>
	<key>createdby</key>
	<string>Shawn Patrick Rice, et al.</string>
	<key>description</key>
	<string>This pushes an update of a workflow to Packal</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Push Packal Update</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>push update</string>
				<key>script</key>
				<string>php push-update.php</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7DE0FC35-5559-424A-9E75-CED89B479617</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>7DE0FC35-5559-424A-9E75-CED89B479617</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
